<div class="top-mess">
    <p class="log-notice"><%= notice %></p><br/>
    <h1>SubscManager</h1><br/>

    <p>登録しているサブスクリプションサービスをリストに追加して管理、月々の支払い料金を確認しましょう。</p>
</div>
<br/>

<%# 一覧画面の画像で説明 %>

<div class="d-grid gap-2 col-6 mx-auto">
    <%= link_to("さっそく試してみる", new_sub_path,
    class:"btn btn-success btn-lg text-nowrap" ) %>
</div>
