<div class="top-mess">
  <p class="log-notice text-nowrap"><%= notice %></p>
  <h1>SubscManager</h1><br/>

  <%# 一覧画面の画像で説明 %>
  <div calss="explain">
    <div class="explain-text">
      <p>利用しているサブスクリプションサービスを登録、管理する機能を提供します。</p><br/><br/>
      <p>リストに登録されたサービスの月々の料金を表示し、円グラフを用いることでその内訳を一目で把握することができます。
      また、リンク先を設定することも可能であり、当該サービスの登録や解除がスムーズに行えます。</p>
    </div><br/>
    
    <%= image_tag "explain.png", size: "500x510",
    class: "explain-img" %>
  </div>
</div><br/>


<div class="d-grid gap-2 col-6 mx-auto">
    <%= link_to("さっそく試してみる", new_sub_path,
    class:"btn btn-success btn-lg text-nowrap" ) %>
</div>
