    <div class="top-mess">
        <h1>SubscManager</h1><br/>
        <p>サブスクリプションサービスの管理を行います。</p>
    </div>
    <br/>
    <div class="d-grid gap-2 col-6 mx-auto">
        <%= link_to("さっそく試してみる", new_sub_path,
                    class:"btn btn-success btn-lg" ) %>
    </div>
    <br/>
