<%# 編集フォーム %>
<div class="card text-dark bg-light mb-3">
  <div class="card-header">
    <h3>サービス内容の編集</h3>
  </div>

  <div class="card-body">
    <%= form_for(@sub) do |form| %>
      <%= render "error", sub: @sub %><br/>
      <%= render "form", form: form %>

      <br/>

      <div class="actions field row">
        <div class="text-end">
          <%= form.submit "変更を適用", class:"btn btn-dark" %>
        </div>
      </div>
    <% end %>
  </div>
</div>