<div class="card text-dark mb-3">
  <div class="card-header shadow">
    <h3>サービス<span class="zyo">を</span>追加</h3>
  </div>
  <div class="card-body">
    <%= form_with(model: @sub, url: "/subs") do |form| %>
      <%= render "error", sub: @sub %>
      <%= render 'form', form: form %>
      <br/>

      <div class="actions field row">
        <div class="text-end">
          <%= form.submit "追加", class:"btn btn-dark shadow" %>
        </div>
      </div>
    <% end %>
  </div>
</div>