<div class="card text-dark bg-light mb-3">

  <div class="card-header">
    <h3>サービスを追加</h3>
  </div>

  <%= render 'form', sub: @sub %>
</div>

<%# <div>
  <button class="btn btn-light" type="button" data-bs-toggle="collapse" data-bs-target="#temp" aria-expanded="false" aria-controls="collapseExample">
    テンプレートから追加（未実装）
  </button>
</div> %>