/* reset ================================ */
* {
  box-sizing: border-box;
}

html {
  font: 100%/1.5 'Avenir Next', 'Hiragino Sans', sans-serif;
  line-height: 1.7;
  letter-spacing: 1px;
  height: 100%;
}

ul, li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #2d3133;
  font-size: 14px;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

input {
  background-color: transparent;
  outline-width: 0;
}

form input[type="submit"] {
  border: none;
  cursor: pointer;
}


/* 共通レイアウト ================================ */
body {
  color: #2d3133;
  background-color: #ffffff;
  margin: 0;
  height: 100%;
  min-height: 100%;
  // grid配置
  display: grid;
  grid-template-rows: auto auto 1fr auto auto;
}

.main {
  height: 100%;
  color: white;
  padding: 10px 40px 10px 40px;
  background-color: #001220;
}

.main h3 {
  text-align: center;
}

.main p {
  text-align: center;
}

// card-------------------------------------
.card {
  margin:auto;
  max-width: 600px;
  .field {
    width: 80%;
    margin: auto;
  }
  .actions {
    margin-left: auto !important;
  }
  .row>* {
    padding: 0 0;
  }
}

// table------------------------------------
.table {
  margin: auto;
  max-width: 600px;
  border-radius: 10px;
  border-spacing: 0;
  border-collapse: separate;
  overflow: hidden;
}

.shared-links {
  text-align: right;
}

.spacer { 
  aspect-ratio: 900/50;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

  .layer1 {
    // assetにある画像
  background-image: image-url("layer1.svg");
  }

  .layer2 {
    background-image: image-url("layer2.svg");
  }

// header------------------------------------------
.navbar {
  padding-top: 15px;
}

.navbar-brand  {
  font-size: 25px;
  margin-right: auto;
}

.nav-item a {
  font-size: 16px;
}

// top----------------------------------
.top-mess {
  text-align: center;
}

// pagination-----------------------------
.pagination {
  // justify-content: center;
}

.pagination li a {
  color: gray;
  border: none;
}


// footer---------------------------------
footer {
  background-color: #009473;
}