/* reset ================================ */
* {
  box-sizing: border-box;
}

html {
  font: 100%/1.5 'Avenir Next', 'Hiragino Sans', sans-serif;
  line-height: 1.7;
  letter-spacing: 1px;
  height: 100%;
}

ul, li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #2d3133;
  font-size: 14px;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

input {
  background-color: transparent;
  outline-width: 0;
}

form input[type="submit"] {
  border: none;
  cursor: pointer;
}


/* 共通レイアウト ================================ */
body {
  color: #2d3133;
  background-color: #ffffff;
  margin: 0;
  height: 100%;
  min-height: 100%;
  // grid配置
  display: grid;
  grid-template-rows: auto auto 1fr auto auto;
}

.main {
  height: 100%;
  color: white;
  padding: 25px 40px 25px 40px;
  background-color: #001220;
}

.main h3 {
  text-align: center;
}

.main p {
  text-align: center;
}

// header------------------------------------------
.navbar {
  padding-top: 15px;
}

.navbar-brand  {
  font-size: 25px;
  margin-right: auto;
}

.nav-item a {
  font-size: 16px;
}

.nav-link {
  padding-right: 10px !important;
  text-align: right;
}

// card-------------------------------------
.card {
  margin:auto;
  max-width: 600px;
  .field {
    width: 80%;
    margin: auto;
  }
  h3 {
    text-align: left;
  }
  .row>* {
    padding: 0 0;
  }
  .btn {
    border: 0;
  }
}

.card-body {
  padding: 1rem 0;
}

// table------------------------------------
.table {
  margin: auto;
  max-width: 600px;
  border-radius: 10px;
  border-spacing: 0;
  border-collapse: separate;
  overflow: hidden;
  .btn-link {
    text-decoration: none;
  }
  .name {
    font-size: 1rem;
  }
}

.table tr td:nth-child(3) {
  width: 100px;
  text-decoration: none;
}

.table tr td:nth-child(4) {
  width: 100px;
  text-decoration: none;
}

.shared-links {
  text-align: right;
}

.spacer { 
  aspect-ratio: 900/50;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

  .layer1 {
    // assetにある画像
    background-image: image-url("layer1.svg");
  }

  .layer2 {
    background-image: image-url("layer2.svg");
  }

// btn----------------------------------
.btn-success {
  background-color: #125635;
  border-color: #125635;
}

// chart------------------------
.fee-pie {
  display: table;
  max-width: 600px;
  margin: auto;
  p {
    margin: auto;
  }
}

.fee {
  width: 50%;
  display: table-cell;
  vertical-align: middle;
  h1 {
    text-align: center;
    font-size: 50px;
  }
}

#first {
  text-align: left;
}
#end {
  text-align: right;
}

.pie-chart {
  margin:auto;
  p {
    padding-bottom: 5px;
  }
}

#chart-title {
  font-size: 20px;
}

// flash------------------------------
.flash-notice {
  text-align: center;
  background-color: #1a7a59;
  border-radius: 10px;
  margin: auto;
  max-width: 200px;
}

.flash-alert {
  text-align: center;
  margin: auto;
  margin-bottom: 10px;
}

.alert {
  padding: 0 0;
  margin-bottom: 0;
}

.error-mess p {
  text-align: center;
}

// top----------------------------------
.top-mess {
  text-align: center;
  .log-notice {
    text-align: center;
    background-color: #1a7a59;
    border-radius: 10px;
    margin: auto;
    max-width: 250px;
    margin-bottom: 10px;
  }
}

.explain-img{
  border-radius: 2rem;
  border: 4px solid;
  border-color: #125635;
}

// pagination-----------------------------
.pagination li a {
  color: gray;
  border: none;
}

// shared-links
.links {
  max-width: 600px;
  margin: auto;
}


// footer---------------------------------
footer {
  background-color: #125635;
  padding: 5px;
}